

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1 {font-size: 3.5em;}
h2 {font-size: 2.7em;}
h3 {font-size: 2em;}
p {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1.2em;}

button,
.btn {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid rgb(0,0,0, 0.3);
    box-shadow: 2px 2px 10px rgb(0,0,0);
    color:white;
    background-color: rgb(116, 1, 178);
}

button:hover,
.hero .btn:hover {
    background-color: rgb(175, 0, 67);
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: beige;
}

header .logo {
    padding: 25px;
    margin: 0;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.5em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black
}

header a:hover {
    color: blue;
}

header .search {
    margin-bottom: 50px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color:rgb(248, 248, 248);
    background-image: linear-gradient(
        rgb(0,0,0,0.5), /* esto es para oscurecer la imagen de fondo */
        rgb(0,0,0,0.5)
        )
        ,url("../img/img_desarrollo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner, .banner a {
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    padding: 3px;
}

.banner p {
    background-color: blue;
    padding: 20px;
}

#cards {
    background-color: rgb(30,30,30);
    color: white;
}

#cards .container > div,
#cards_articles .container > div {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    color: white
}

#cards .container > div::before,
#cards_articles .container > div::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

#cards h2, #cards h3, #cards p, #cards button,
#cards_articles h2, 
#cards_articles h3,
#cards_articles h4,
#cards_articles p,
#cards_articles button {
    text-align: center;
    padding: 5px;
    position: relative;
    z-index: 1;
}

#cards .container, 
#cards_articles .container {
    color: white;
    text-align: center;
    margin-top: 20px;
}

#cards p {
    display: none;
}

.card_desing{
    background-image: url("../img/Branding-design.jpg");
}

.card_develope {
    background-image: url("../img/website-development.png");;
}

.card_modelling {
    background-image: url("../img/illustration_modeling.jpeg");
}

.card_marketing {
    background-image: url("../img/digital_marketing.jpeg");
}

.services .container {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: rgb(232, 255, 127);
}

 .services img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
 }

.services p {
    margin-top: 60px;
    margin-bottom: 70px;
}

.services li {
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.scroll_container {
    overflow: auto;   
    background-color: #333;
    white-space: nowrap;
    padding: 10px;
}

.scroll_container img {
    padding: 10px;
    width: 200px;
    height: 200px;
}

.img_scroll h2 {
    text-align: center;
}

.events {
    margin: 30px;
}

#cards_articles {
    background-color: aliceblue;
}

.card_return {
    background-image: url("../img/Branding-design.jpg");
}

.card_result {
    background-image: url("../img/website-development.png");;
}

.card_usability {
    background-image: url("../img/illustration_modeling.jpeg");
}
