<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo"><a href="{{ url_for('home') }}">LOGO WEB</a></p>
            <nav>
                <a href="{{ url_for('home') }}">HOME</a>
                <a href="{{ url_for('pages') }}">PAGES</a>
                <a href="{{ url_for('portfolio') }}">PORTFOLIO</a>
                <a href="{{ url_for('blog') }}">BLOG</a>
                <a href="{{ url_for('contact') }}">CONTACT</a>
            </nav>
            <form class="search">
                <input type="text" placeholder="search...">
                <button type="submit">SEARCH</button>
            </form>
        </div>
    </header>

    <div class="container">
        <br>
        
    </div>