<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo"><a href="home.html">LOGO WEB</a></p>
            <nav>
                <a href="home.html">HOME</a>
                <a href="pages.html">PAGES</a>
                <a href="portafolio.html">PORTAFOLIO</a>
                <a href="blog.html">BLOG</a>
                <a href="contact.html">CONTACT</a>
            </nav>
            <form class="search">
                <button type="submit">WORK WITH US</button>
            </form>
        </div>
    </header>